.jogs-container {
  display: flex;
  flex: 1 1 auto;
  width: 100%;
  height: calc(100vh - 81px);
  padding: 18px;
}

.jogs-list {
  width: 100%;
  padding: 0 18px;

  &__search {
    width: 200px;
  }

  &__date-picker {
    padding: 18px;
  }
}

.jogs-form {
  &__row {
    display: flex;
    align-items: center;
    gap: 32px;
    width: 100%;
  }

  &__distance {
    width: 50%;
  }

  &__timer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &__timer-control {
    width: 30%;
  }
}

.jogs-report {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  &__head {
    display: flex;
    align-items: center;
    gap: 18px;
    width: 100%;

    span {
      font-weight: 600;
    }
  }

  &__table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 18px;

    td, th {
      padding: 12px;
      border: 1px solid rgba(0, 0, 0, 0.23);
      text-align: center;
    }
  }

  &__actions {
    margin-left: 8px !important;
  }
}