* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  color: #121821;
  background-color: #e1e4e9;
  height: 100%;
  line-height: normal;
}

#root {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
}

.w-100 {
  width: 100%;
}